<phpunit>
    <testsuites>
        <testsuite name="UNM Project">
            <file>UserTest.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../classes</directory>
        </whitelist>
    </filter>
</phpunit>